body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background: url('https://images.wsj.net/im-933698?width=700&size=1.4988290398126465') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
    color: white;
    text-align: center;
    overflow: hidden;
}

.header-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    background: rgba(0, 0, 0, 0.5);
    padding: 8em;
    border-radius: 0px;
}

.title h1 {
    font-size: 2rem;
    color: white;
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin: 2em auto;
    width: 90%;
    max-width: 1200px;
}

.newRental {
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.newRental h2 {
    margin-top: 0;
}

.newRental form {
    display: flex;
    flex-direction: column;
}

.newRental label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.newRental input {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
}

.newRental button {
    padding: 0.5em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.newRental button:hover {
    background-color: #555;
}

.carDetails {
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
}

.carDetails h2 {
    margin-top: 0;
}

.carDetails table {
    width: 100%;
    border-collapse: collapse;
}

.carDetails th, .carDetails td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.carDetails th {
    background-color: #f2f2f2;
}

.carDetails tr:hover {
    background-color: #f1f1f1;
}

.rentals {
    margin: 2em auto;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rentals table {
    width: 100%;
    border-collapse: collapse;
}

.rentals th, .rentals td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.rentals th {
    background-color: #f2f2f2;
}

.rentals tr:hover {
    background-color: #f1f1f1;
}

.close {
    color: red;
    cursor: pointer;
}

.close:hover {
    color: darkred;
}
